/*DAY MODE COLOR*/
$base-blue: #5078d2;
$base-gray7: #d9d9d9;
$base-gray6: #969498;
$base-gray5: #3c3a3c;
$base-gray4: #717787;
$base-gray3: #d6d6d6;
$base-gray2: #e4e4e4;
$base-gray1: #f2f2f2;
$base-black: #000000;
$base-white: #ffffff;

$base-red: #ff3c31;
$base-pinkred: #ff2e56;
$base-purple1: #b053df;
$base-purple2: #c89eea;
$base-blue2: #203c7b;
$base-blue3: #5bc9fb;
$base-blue4: #bbdef9;
$base-green: #33c658;
$base-brown: #e59443;
$base-orange1: #f07d13;
$base-orange2: #ff9601;
$base-yellow: #ffcd01;
$base-paleyellow: #ffe579;

/*DARK MODE COLOR*/
$base-dark-blue: #5078d2;
$base-dark-gray6: #969498;
$base-dark-gray5: #484848;
$base-dark-gray3: #d7d7d7;
$base-dark-gray2: #e3e3e3;
$base-dark-gray1: #f0f0f0;

$base-dark-red: #fe4439;
$base-dark-pinkred: #fe365e;
$base-dark-purple1: #be59f1;
$base-dark-purple2: #d7b0f7;
$base-dark-blue2: #3f68c5;
$base-dark-blue3: #71d6ff;
$base-dark-blue4: #c3e5ff;
$base-dark-green: #31d259;
$base-dark-brown: #ef9e4d;
$base-dark-orange1: #fe8e0a;
$base-dark-orange2: #ffb931;
$base-dark-yellow: #ffe83d;
$base-dark-paleyellow: #fdff93;

$base-toastr-success: #51a351;
$base-toastr-warn: #f89406;
$base-toastr-error: #bd362f;
$base-toastr-info: #2f96b4;

$PageTitle-font-size: 25px;
$PageTitle-font-family: "Roboto Regular";

$Header-font-size: 24px;
$Header-font-family: "Roboto Medium";

$SubHeader-font-size: 18px;
$SubHeader-font-family: "Roboto Bold";

$Content-font-size: 18px;
$Content-font-family: "Roboto Regular";

$Sidebar-font-size: 14px;
$Sidebar-font-family: "Roboto Medium";

$TabHeader-font-size: 14px;
$TabHeader-font-family: "Roboto Bold";

/*MAT TABLE*/
$base-table-cell-border: #e0e0e0;
$base-fixedtext1: #5f6471;
