.Signup-container {
  width: 100%;
  min-height: 100vh;
  background: #0093e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #80d0c7, #0093e9);
  background: linear-gradient(to right, #80d0c7, #0093e9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.signup-form h1 {
  text-align: center;
  color: #333;
  margin-bottom: 24px;
}

.input-group {
  position: relative;
  margin-bottom: 24px;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

.alert {
  color: #d9534f;
  font-size: 12px;
  padding-top: 3px;
}

.BtnSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SubmitBtn,
.BackBtn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.SubmitBtn {
  background-color: #4caf50;
  color: white;
}

.BackBtn {
  background-color: #f44336;
  color: white;
}

.SubmitBtn:hover {
  background-color: rgb(29, 227, 118);
}

.SubmitBtn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .signup-form {
    width: 90%;
    margin: 10px;
  }
}
